/* heading mixin */

@mixin heading {
    color: $navBackground;
    margin-bottom: 50px;
    position: relative;
    font: {
        size: 35px;
        weight: 700;
    }
    &::before {
        content: " ";
        position: absolute;
        top: 50px;
        left: 0;
        background: $secShapesColor;
        width: 80px;
        height: 3px;
    }
    &::after {
        content: " ";
        position: absolute;
        top: 46px;
        left: 75px;
        background: $secShapesColor;
        width: 50px;
        height: 10px;
        border: 1px solid $secShapesColor;
        border-radius: 20px;
    }
}

@mixin centerHeading {
    color: $navBackground;
    margin-bottom: 50px;
    position: relative;
    font: {
        size: 35px;
        weight: 700;
    }
    &::before {
        content: " ";
        position: absolute;
        top: 50px;
        left: 43%;
        background: $secShapesColor;
        width: 110px;
        height: 3px;
        @media(min-width: $phone)and(max-width: $small) {
            left: 33%;
        }
        @media(min-width: $small)and(max-width: $maxMed) {
            left: 33%;
        }
    }
    &::after {
        content: " ";
        position: absolute;
        top: 46px;
        left: 52%;
        background: $secShapesColor;
        width: 50px;
        height: 10px;
        border: 1px solid $secShapesColor;
        border-radius: 20px;
        @media(min-width: $phone)and(max-width: $small) {
            left: 56%;
        }
        @media(min-width: $small)and(max-width: $maxMed) {
            left: 56%;
        }
    }
}


/* paragraph mixin */

@mixin myInfoWords {
    color: $infoColor;
    font-size: 20px;
    letter-spacing: 1.8;
    line-height: 1.8;
}


/* buttons mixin */

@mixin myMainButton {
    all: unset;
    border: 1px solid $navBackground;
    border-radius: 10px;
    padding: 10px 20px;
    color: $navBackground;
    transition: $transition2s;
    font: {
        size: 18px;
    }
    &:hover {
        background: $navBackground;
        color: $navColor;
    }
}

@mixin mySecButton {
    all: unset;
    border: 1px solid $navColor;
    border-radius: 15px;
    padding: 10px 25px;
    color: $navColor;
    transition: $transition2s;
    font-size: 17px;
    &:hover {
        background: $navColor;
        color: $navBackground;
    }
}

@mixin myFormButton {
    border: 1px solid $navBackground;
    background: $navBackground;
    color: $navColor;
    padding: 5px 25px;
    width: 150px;
    border-radius: 25px;
    opacity: 0.8999;
    transition: $transition2s;
}