/* colors */

$navBackground:#3755be;
$mainShapesColor:#1b1f3b;
$secShapesColor: #ff8e88;
$navColor: #fff;
$infoColor:#777;
$footerColor:#ddd;

/* font sizes */

$navBrandFont:35px;

/* padding */

$mainPadding:100px;

/* transition */

$transition2s: all 0.3s ease-in-out;

/* media screen */

$phone:375px;
$small:500px;
$medium:576px;
$maxMed:768px;
$large: 992px;
$xLarge: 1200px;